<div class="">
    <app-loading [loading]="loading"></app-loading>
    <div class="h1 mb-3 py-2 border-bottom-1 border-bottom">
        Todo Application
    </div>
    <div class="w-50 d-block mx-auto">
        <div *ngIf="showMessage===true">
            <div [ngClass]="{'OK' :'alert alert-success','NG':'alert alert-danger','ER':'alert alert-danger'}[message.status] "
                *ngIf="message$ |async as message" class="display-none">
                {{message.message}}
            </div>
        </div>
        <div class="d-flex">
            <input type="text" class="form-control" placeholder="type something" />
            <button class="btn btn-primary mx-2" (click)="opendialog()">Create</button>
        </div>
        <div *ngIf="todo$ | async as todo">
            <app-todo-list *ngFor="let i of todo.data" [todo]="i" (deleteTodo)="deleteTodo($event)"></app-todo-list>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary" *ngFor="let item of [].constructor(todo.total_pages); let i = index" (click)="getTodoesFromApi(i+1)">{{i+1}}</button>
            </div>
        </div>
    </div>
</div>